---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// main body
body {
	margin-top: 100px;
	margin-bottom: 40px;
	font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
}

code {
	// Makes in-line code blocks not break between words
	display: inline-block;
}

footer {
	font-size: 0.8rem;
}

h1, h2, h3, h4, h5, h6 {
	padding: 2.3rem 0 0.8rem 0;
}

hr {
	width: 60%;
}

li p {
	margin: 0;
}

pre {
	margin: 1rem;
	padding: 0.8rem;
}

// Size up the site name
a.navbar-brand {
	font-size: 1.7rem;
}

// Create some space before the ToC
#preamble .sectionbody {
	margin-bottom: 2rem;
}

// Spice up the admonition blocks
.admonitionblock {
	border-color: #e0e0dc;
	border-radius: 4px;
	box-shadow: 0 1px 4px #e0e0dc;
	margin: 1.4rem;
	padding: 1rem 0.5rem;
}

.admonitionblock td.icon {
	font-weight: bold;
}

.admonitionblock td.content {
	border-left: 1px solid #ddddd8;
	padding: 0 1.25rem;
}

// Fix FA icons in AsciiDoc documents
span.icon>.fa {
	cursor: default;
}
.admonitionblock td.icon {
	text-align: center;
	width: 80px;
}
.admonitionblock td.icon [class^="fa icon-"] {
	font-size: 2.5em;
	text-shadow: 1px 1px 2px rgba(0,0,0,.5);
	cursor: default;
}
.admonitionblock td.icon .icon-note:before {
	content: "\f05a";
	color: #19407c;
}
.admonitionblock td.icon .icon-tip:before {
	content: "\f0eb";
	text-shadow: 1px 1px 2px rgba(155,155,0,.8);
	color: #111;
}
.admonitionblock td.icon .icon-warning:before {
	content: "\f071";
	color: #bf6900;
}
.admonitionblock td.icon .icon-caution:before {
	content: "\f06d";
	color: #bf3400;
}
.admonitionblock td.icon .icon-important:before {
	content: "\f06a";
	color: #bf0000;
}
